<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.bapspatil.feature1">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_feature1">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".FeatureOneActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bapspatil.androidappbundledemo.MainActivity" />
        </activity>
    </application>

</manifest>